:host{
	display: block;
	margin-top: 70px;
	margin-left: 4%;
	margin-right: 4%;
}

iux-content-row{
	display: block;
	margin: 0 0 4vw;
}

.galleryHeader{
	display: block;
    padding: 36px 0 72px;
    min-height: 44px;
}

.title{
	display: inline-block;
	margin-right: 20px;
	line-height: 36px;
	font-size: 36px;
}
