<div (mouseenter)="mouseOver()" (mouseleave)="mouseOut()" >
  <a
    class="categoryLink"
    *ngIf="multiPage"
    [routerLink]="getFullContentUrl()"
  >
    {{category.name | lowercase}} <span *ngIf="showChevron && multiPage" id="chevron" class="fa fa-chevron-right"></span>
  </a>
  <p class="categoryLink" *ngIf="!multiPage">{{category.name | lowercase}}</p>

  <iux-content-carousel-responsive
    [portrait]="portrait"
    [showIndicator]="showChevron"
    [categoryId]="category.id"
    (multiPage)="hasMultiPage($event)"
    (jawboneEmit)="jawboneOpen($event)"
  >
    <ng-content></ng-content>
  </iux-content-carousel-responsive>
</div>

