<iux-settings-section title="Debugging" >
  <div class="col-sm-8">
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" #proxy [ngModel]="proxyEnabled" (ngModelChange)="enableProxy($event)" > Enable Proxy to IVP backend
        </label>
      </div>
      <p class="help-block">Use a proxy to talk to CTAP as sometimes, the backend is removing its CORS support</p>
    </div>
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" #proxy [ngModel]="newLolomo" (ngModelChange)="useNewLolomo($event)" > Use Lolomo V2
        </label>
      </div>
      <p class="help-block">Lolomo V2 is a responsive Lolomo under development</p>
    </div>


  </div>

</iux-settings-section>
