:host {
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
}

img {
  max-width: 100%;
  height: auto;
}

h4 {
  margin: 0 0 5px;
}
p {
  font-size: .9em;
  line-height: 1.5em;
  color: #999;
  margin-bottom: 0px;
}

.content-container {
  font-size: 0px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.content-item{
  padding: 3px;
  background: #fff;
  vertical-align: top;
  box-shadow: 0 0 5px #ddd;

}


.relative{position:relative; width:600px;}
.absolute-text{position:absolute; bottom:0; background:rgba(251,251,251,0.5); color: black; padding-left:10px; width:100%; }
.absolute-img{width:100%; }

h4 {
  font-size: 1.4vw;
}

p{
  font-size: 1.6vw;
}

.absolute-text{
  display:none;
}

.relative:hover .absolute-text{
  display: block;
}

