<div (mouseenter)="mouseOver()" (mouseleave)="mouseOut()" >
  <a
    class="categoryLink"
    *ngIf="multiPage"
    [routerLink]="getFullContentUrl()"
  >
    {{category.name}} <span *ngIf="showChevron && multiPage" id="chevron" class="fa fa-chevron-right"></span>
  </a>
  <p class="categoryLink" *ngIf="!multiPage">{{category.name}}</p>
  <iux-content-carousel
    [vertical]="vertical"
    [showIndicator]="showChevron"
    [categoryId]="category.id"
    (multiPage)="hasMultiPage($event)"
  ></iux-content-carousel>
</div>

