<div class="label">Who are you?</div>
<ul class="choose-profile">
	<li class="profile">
		<a class="profile-link" role="link">
			<div class="avatar-wrapper">
				<div class="profile-icon"></div>
				<div class="profile-name">François</div>
			</div>
		</a>
	</li>
	<li class="profile">
		<a class="profile-link" role="link">
			<div class="avatar-wrapper">
				<div class="profile-icon"></div>
				<div class="profile-name">Peter</div>
			</div>
		</a>
	</li>
	<li>
		<a role="link">
			<div class="addProfileIcon icon-tvuiAdd"></div>
			<div class="profile-name">Add a profile</div>
		</a>
	</li>
</ul>
