:host{
	width: 10vw;
	max-width: 200px;
	min-width: 84px;
}

.avatar-wrapper{
	position: relative;
}
.addProfileIcon, .profile-icon, li.profile {
	width: 10vw;
	max-width: 200px;
	min-width: 84px;
}

.profile-icon{
	height: 10vw;
	max-height: 200px;
	min-height: 84px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	text-decoration: none;
	border: .3em solid rgba(0,0,0,.4);
}

.edit-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	vertical-align: middle;
	background-color: rgba(0, 0, 0, 0.5);
	font-size: 24px;
}

.profile-name{
	color: grey;
	display: block;
	text-align: center;
	font-size: 1.3vw;
	margin: .8em 0;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
}

@media screen and (max-width: 800px){
	.profile-name {
		font-size: 12px;
	}
}

a:focus,a:hover {
	cursor: pointer;
	outline: 0;
}
a:focus .profile-name, a:hover .profile-name {
	color: #e5e5e5;
}
a:focus .profile-icon, a:hover .profile-icon {
	border-color: #e5e5e5;
}