<h1>Edit profile</h1>
<div class="profile-metadata profile-entry">
	<div class="main-profile-avatar">
		<div class="avatar-box">
			<img src="./assets/peter.png">
		</div>
		<div class="avatar-edit-icon"></div>
	</div>
	<div class="profile-edit-parent">
		<div class="profile-edit-inputs">
			<input type="text" placeholder="Name">
		</div>
		<div class="profile-entry-dropdowns">
			<div class="profileDropDown">
				<div class="profileDropDown-label">Language:</div>
				<div cols="2" class="dropdown">
					<div class="label" role="button">
						<a class="user-lang-link" role="link">English</a>
						<span class="arrow"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
