:host{
  display: block;
  position: relative;
}





.last-content{
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 11%;
  -moz-box-flex: 0;
  -ms-flex: 0 1 11%;
  flex: 0 1 11%;
  text-align: right;
  z-index: 1;
  position: absolute;
  right: .25vw;
  bottom: .25vw;
}

.mylist-wrapper{
  display: inline-block;
  z-index: 2;
  font-size: 1vw;
  border-left: 0;
  padding: .5vw;

}

.icon{
  color: #fff;
}

.info-bottom{
  display: block;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
  z-index: 1;
}

h4 {
  margin: 0 0 5px;
  font-size: 1.4vw;
}

p {
  font-size: .9em;
  font-size: 1.6vw;
  line-height: 1.5em;
  color: #999;
  margin-bottom: 0px;
}

.content-container {
  font-size: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  transition: all .2s ease-in-out;
  /* transition-delay: 0.4s; */
}

/* .content-container:hover:first-child { */


.content-item{
  margin-left: 3px;
  margin-right: 3px;
  background: #000;
  vertical-align: top;
  z-index: 0;
  transition: all .2s ease-in-out;
  /* transition-delay: 0.4s; */
}

a{
  cursor: default;
}

.zoom-item a{
  cursor: pointer;
}


/*.content-container:hover{*/
  /*transform: translate3d(-40px, 0, 0);*/
/*}*/

.zoom-item:hover{
  /* transform: translate3d(40px, 0, 0); */
  transition-delay: 0.4s;
  transform: scale(1.4);;
  z-index: 100;
}

/*.zoom-item:first-child:hover{*/
  /*!* transform: translate3d(80px, 0, 0); *!*/
  /*transform: translate3d(80px, 0, 0) scale(1.4);;*/
  /*z-index: 100;*/
/*}*/

/* .zoom-item:last-child:hover{
  transform: translate3d(0px, 0, 0);
  transform: translate3d(40px, 0, 0) scale(1.4);;
  z-index: 100;
}
 */
/* .zoom-item:last-child:hover .content-container{
  transform: translate3d(-40px, 0, 0);
  z-index: 100;
} */
/* .zoom-item:hover:first-child{
  transform: translate3d(40px, 0, 0) scale(1.4);;
  z-index: 100;
} */

/*.zoom-item:hover ~ .zoom-item {*/
  /*transform: translate3d(80px, 0, 0);*/
/*}*/

/*.zoom-item:first-child:hover ~ .zoom-item {*/
  /*transform: translate3d(120px, 0, 0);*/
/*}*/

.relative{
  position:relative;
  width:600px;
}



