<div [ngBusy]="busy"></div>
<div class="content-container">
  <div
    class="relative content-item"
    [class.zoom-item]="content.content[i] && zoom"
    *ngFor="let toto of dummyArray;let i = index"
  >
    <a [routerLink]="content.content[i]?'/video/'+content.content[i].id:'./'">
      <img [src]="getContentImage(i)" alt="" class="absolute-img">
    <i *ngIf="content.content[i]" id="playIcon" class="fa fa-play-circle-o" aria-hidden="true"></i>
      <div *ngIf="content.content[i]" class="absolute-text">
        <h4>{{content.content[i].content.title}}</h4>
      </div>
    </a>
  </div>
</div>
