<div class="billboard">
	<img src="https://art-s.nflximg.net/5d1ca/9b5fbcd85aec0b68757ecb11999b5b58c175d1ca.webp" alt="Random first slide">
	<div class="image-vignette"></div>
	<div class="billboard-pane">
		<div class="info">
			<div class="meta">
				<div class="recentlyAdded">
					<b>23</b>
					<br>
					TV Shows and Movies
					<br>
					added this week
				</div>
				<a routerLink="./">
          See all recently added titles
					<span class="fa fa-chevron-right"></span>
				</a>
				<div class="actions">
					<a class="playLink" routerLink="/video">
						<span class="cisco-flat-button cisco-flat-button-primary">
							<span class="cisco-flat-button-icon fa fa-play "></span>
							<span class="cisco-flat-text">Watch</span>
						</span>
					</a>
					<a class="cisco-icon-button mylist-button" routerLink="./">
						<span class="cisco-flat-button-icon fa fa-plus "></span>
						<span class="cisco-flat-text">My list</span>
					</a>
				</div>
			</div>

		</div>
	</div>
</div>
