:host{
  /* display: block; */
  /* opacity: 0; */
/*   transition:
  transform 440ms cubic-bezier(.5,0,.1,1) 0s,
  opacity .44s cubic-bezier(.5,0,.1,1); */
  /* position: absolute; */
  top:0;
  width: 100%;
  background-color: #141414;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 2px;
  padding: 0;
  background-color: red;
}

.jawboneContainer{
  /* position: relative; */
  /* opacity: 1; */
  /* overflow: hidden; */
  /* outline: 0; */

  transition:
  height .54s cubic-bezier(.5,0,.1,1) 0s,
  opacity .44s cubic-bezier(.5,0,.1,1) .1s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.trigger{
  height: 35vw;
}

.background{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  overflow: hidden;
  transition: opacity .3s cubic-bezier(.5,0,.1,1) 0s;
}

.image{
  overflow: hidden;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  width: 70%;

  /* background-color: blue; */
}

.vignette{
  background: #000;
  z-index: 2;
  width: 30%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.vignette::before{
  content: '';
  position: absolute;
  z-index: 10;
  background-image: linear-gradient(to right,#000,transparent);
  top: 0;
  bottom: 0;
  left: 100%;
  width: 275px;
}

.nav-shadow{
  height: 114px;
  background: url(https://assets.nflxext.com/en_us/akira/jawBone/nav-shadow.png) center 100% no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  background-size: 100% 114px;
}

.jawBonePane{
  padding: 18px 0 12px 4%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  color:grey;
}

.close-button {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.3vw;
  padding: 20px 20px 40px 40px;
  z-index: 12;
  cursor: pointer;
  color: #fff;
  transform-origin: 60% 35%;
  background: radial-gradient(ellipse at top right,rgba(0,0,0,.4) 0,rgba(0,0,0,0) 70%,rgba(0,0,0,0) 100%);
  background-position: 50% -50%;
}

.icon-close:before {
  content: '\e762';
}

.menu{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-transform: uppercase;
  width: 100%;
  font-size: 1vw;
  z-index: 100;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  pointer-events: none;
}

.menuItem{
  padding: 1em 1.5em 0;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  color: #ccc;
  min-width: 5%;
  pointer-events: auto;
}

.menuItem:hover{
  color: #fff;
}

.menuItemLink{
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  color: inherit;
  font-weight: 700;
  text-align: center;
  pointer-events: auto;
}

.menuItemLine{
  /* transform: translateY(0); */
  height: .33em;
  display: block;
  width: 100%;
  margin-top: .66em;
  /* transform: translateY(.4em); */
  transition: transform .2s linear;
  transition: transform .2s linear,-webkit-transform .2s linear,-moz-transform .2s linear,-o-transform .2s linear;
}

.current{
  color: #fff;
}

.current>.menuItemLine{
  background-color: #049FD9;
}
