<div class="jawboneContainer">
	<div class="trigger">
		<div class="background">
			<img class="image" src="https://art-s.nflximg.net/d60cf/6f3dfc993e48a4679f50ebfc4932f519c39d60cf.webp">
			<div class="vignette"></div>
			<div class="nav-shadow"></div>
		</div>
		<div class="jawBonePanes">
			<iux-tab-overview class="jawBonePane2"
       [program]="program"
      ></iux-tab-overview>
			<iux-tab-more-like-this class="jawBonePane2"></iux-tab-more-like-this>
			<iux-tab-show-details class="jawBonePane2"></iux-tab-show-details>

		</div>
		<ul class="menu">
			<li class="menuItem" id="tab-Overview">
				<a class="menuItemLink">Overview</a>
				<div class="menuItemLine"></div>
			</li>
			<li class="menuItem" id="tab-MoreLikeThis">
				<a class="menuItemLink">More like this</a>
				<div class="menuItemLine"></div>

			</li>
			<li class="menuItem" id="tab-ShowDetails">
				<a class="menuItemLink">show Details</a>
				<div class="menuItemLine"></div>

			</li>
		</ul>
	</div>

</div>
