<div class="jawboneContainer">
	<div class="trigger">
		<div class="background"
		[class.dim]="currentContent===jawboneContent[1] || currentContent===jawboneContent[2]">
		<img class="image" [src]="program.media[2].url">
		<div class="vignette"></div>
		<div class="nav-shadow"></div>
	</div>
	<div class="jawBone">
		<h3 class="title">{{program.title}}</h3>
		<div class="playlink">
			<div class="playRing"></div>
		</div>
		<div class="common">
			<div class="jawBonePanes">
				<iux-tab-overview *ngIf="currentContent===jawboneContent[0]" class="jawBonePane" [program]="program"></iux-tab-overview>
				<iux-tab-more-like-this *ngIf="currentContent===jawboneContent[1]" class="jawBonePane" ></iux-tab-more-like-this>
				<iux-tab-show-details *ngIf="currentContent===jawboneContent[2]" class="jawBonePane" [program]="program"></iux-tab-show-details>
			</div>
		</div>
		<ul class="menu">
			<li (click)="currentContent=jawboneContent[0]" [class.current]="currentContent===jawboneContent[0]" class="menuItem" id="tab-Overview">
				<a class="menuItemLink">Overview</a>
				<div class="menuItemLine"></div>
			</li>
			<li (click)="currentContent=jawboneContent[1]"[class.current]="currentContent===jawboneContent[1]" class="menuItem" id="tab-MoreLikeThis">
				<a class="menuItemLink">More like this</a>
				<div class="menuItemLine"></div>
			</li>
			<li (click)="currentContent=jawboneContent[2]"[class.current]="currentContent===jawboneContent[2]" class="menuItem" id="tab-ShowDetails">
				<a class="menuItemLink">show Details</a>
				<div class="menuItemLine"></div>
			</li>
		</ul>
	</div>
	<a (click)="closeJawbone()" class="close-button icon-close" role="button"></a>
</div>
</div>