<div class="topbar"></div>
<div [ngBusy]="{busy:busy,backdrop:false}"></div>
<div class="row">
  <div class="col-xs-2">
    <ul class="list-unstyled" id="first">
      <li ><a routerLink="/">Home</a></li>
    </ul>
  </div>
  <div class="col-xs-3">
    <ul class="list-unstyled">
      <li *ngFor="let cat of categories | slice:0:5 "><a [routerLink]="'/full/'+cat.id">{{cat.name | lowercase}}</a></li>
    </ul>
  </div>
  <div class="col-xs-2">
    <ul class="list-unstyled">
      <li *ngFor="let cat of categories | slice:5:10 "><a [routerLink]="'/full/'+cat.id">{{cat.name | lowercase}}</a></li>
    </ul>
  </div>
  <div class="col-xs-2">
    <ul class="list-unstyled">
      <li *ngFor="let cat of categories | slice:10:15 "><a [routerLink]="'/full/'+cat.id">{{cat.name | lowercase}}</a></li>
    </ul>
  </div>
  <div class="col-xs-3">
    <ul class="list-unstyled">
      <li *ngFor="let cat of categories | slice:15:20 "><a [routerLink]="'/full/'+cat.id">{{cat.name | lowercase}}</a></li>
    </ul>
  </div>
</div>
