:host{
  font-size: 12px;
  width: 870px;
  display: block;
  /* top: 71px;
  background-color: rgba(0,0,0,.9);
  border-radius: 0;
  color: #fff; */
  line-height: 21px;
}
.dropdown-menu{
  top: 71px;
  background-color: rgba(0,0,0,.9);
  border-radius: 0;
}

li{
  text-transform: capitalize;
}

a{
  color: inherit;
}

.topbar {
  position: absolute;
  top: -2px;
  left: 0;
  right: 0;
  height: 2px;
  background: #e5e5e5;
}

.col-xs-2, .col-xs-3{
  padding-left: 3px;
  padding-right: 3px;
}

.row{
  margin-right: 0px;
  margin-left: 0px;
}

#first{
  font-weight: 700;
  border-right-width: 1px;
  border-right-color: #4d4d4d;
  border-right-style: solid;
  margin-right: 5px;

}
