<div class="carousel-inner" role="listbox">

  <iux-content-row
    [fullContent]="content"
    [portrait]="portrait"
  >
  </iux-content-row>



<ol class="iux-carousel-indicators" *ngIf="pages.length > 1 && showIndicator" [class.hidden]="firstSlide">
  <li *ngFor="let page of pages; let i = index;" [id]="i" [class.active]="i === activeId" ></li>
</ol>
<div class="handle handlePrevious" *ngIf="pages.length > 1  && showIndicator"  role="button" (click)="prev()">
  <b class="indicator-icon icon-leftCaret" ></b>
</div>
<div class="handle handleNext" *ngIf="pages.length > 1  && showIndicator"  role="button" (click)="next()" >
  <b class="indicator-icon icon-rightCaret"></b>
</div>

</div>

