
<div
  #slider
  class="content-container"
  (window:resize)="onResize($event.target.innerWidth)"
  (@horizontalScroll.start)="animationStarted($event)"
  (@horizontalScroll.done)="animationDone($event)"
  [@horizontalScroll]="pageAnimState"
>
  <div *ngFor="let item of window;let i = index;"
       class="relative content-item"
       [class.zoom-item]="item && zoom"
       [class.playable-item]="item._links.playSession"
  >
    <a [routerLink]="getPlayLink(item)" >
      <img [src]="getContentImage(item)" alt="" class="absolute-img">
       <iux-overlay-responsive [program]="item"></iux-overlay-responsive>
    </a>
  </div>
</div>
