<div class="row">
  <div class="col-xs-3">
    <ul class="list-unstyled" id="first">
      <li >Accueil</li>
      <li >Ma liste</li>
      <li >Programmes originaux</li>
      <li >Derniers ajouts</li>
      <li >Audio et sous-titres</li>
      <li >Modes de lecture</li>
    </ul>
  </div>
  <div class="col-xs-2">
    <ul class="list-unstyled">
      <li >Séries</li>
      <li >Action</li>
      <li >Animation japonaise</li>
      <li >Classique</li>
      <li >Comédie</li>
      <li >Divers</li>
    </ul>
  </div>
  <div class="col-xs-2">
    <ul class="list-unstyled">
      <li >Documentaires</li>
      <li >Drame</li>
      <li >Foie et spiritualité</li>
      <li >Films cultes</li>
      <li >Films sur le sport</li>
      <li >Gay et lesbien</li>
    </ul>
  </div>
  <div class="col-xs-2">
    <ul class="list-unstyled">
      <li>Horreur</li>
      <li>Indépendant</li>
      <li>International</li>
      <li>Jeunesse et famille</li>
      <li>Musicale</li>
      <li>Musique</li>
    </ul>
  </div>
  <div class="col-xs-3">
    <ul class="list-unstyled">
      <li>Romance</li>
      <li>SF et Fantastique</li>
      <li>Stand-up et talk-shows</li>
      <li>Thriller</li>
    </ul>
  </div>
</div>
