.footer {
  background: #a0a290;
  margin-top:120px;
  position:relative
}

.footer .container {
  padding:60px 0 20px;
}

.footer ul {
  margin:0 auto;
  margin-bottom:30px;
  margin-top:10px;
  text-align:center;
  list-style-type:none;
  padding-left:0;
}

.footer ul li {
  text-align:center;
  display:inline-block;
  background:rgba(0,0,0,0.2);
  color:#fff;
  line-height:45px;
  margin:0 4px;
  width:45px!important;
  height:45px!important;
  -webkit-border-radius:3px;
  border-radius:3px;
}

.footer ul li:hover {
  background:#2a2a2a;
}

.footer ul li:hover a {
  color:#fff;
}

.footer ul li a {
  color:#fff;
  width:42px!important;
  height:42px!important;
}

.footer ul li a i {
  line-height:45px;
  color:#fff;
}

.footer p {
  color:#fff;
  font-size:.9em;
  line-height:24px;
  font-weight:300;
  text-align:center;
  text-transform:uppercase;
}

.footer a,.footer a:hover {
  color:#fff;
}
