<div class="billboard">
	<img src="https://art-s.nflximg.net/4c2d2/890e5c431f3222e34d78e3abd34b3aeb3ab4c2d2.webp" alt="Contenu à la une">
	<div class="image-vignette"></div>
	<div class="image-vignette2"></div>
	<div class="billboard-pane">
		<div class="info">
			<div class="meta">
				<div class="recentlyAdded">
					<b>Live</b>
					<br>
					Channel List
					<br>
					<b>ActionMenu</b>
					<br>
					Overview
					<br>
					More Like This
					<br>
					Details
				</div>
				<a routerLink="./">
          And many more...
					<span class="fa fa-chevron-right"></span>
				</a>
				<div class="actions">
					<a class="playLink" routerLink="/video">
						<span class="cisco-flat-button cisco-flat-button-primary">
							<span class="cisco-flat-button-icon fa fa-play "></span>
							<span class="cisco-flat-text">Watch</span>
						</span>
					</a>
					<a class="cisco-icon-button mylist-button" routerLink="./">
						<span class="cisco-flat-button-icon fa fa-plus "></span>
						<span class="cisco-flat-text">My list</span>
					</a>
				</div>
			</div>

		</div>
	</div>
</div>
