
<div

  #slider
  class="content-container"
  (window:resize)="onResize($event.target.innerWidth)"
  (@horizontalScroll.start)="animationStarted($event)"
  (@horizontalScroll.done)="animationDone($event)"
  [@horizontalScroll]="pageAnimState"
  (mouseleave)="zoomAnimStopper.next('stop')"
>
  <div *ngFor="let item of window;let i = index;"
       (mouseenter)="zoomAnimStarter.next(i)"
       (mouseenter)="jawboneFocusStarter.next(i)"
       (mouseleave)="jawboneStopper.next(i)"

       class="relative content-item"
       [@ZoomItem]="zoomState[i]"

       [class.channel]="item.channel"
       [class.zoom-item]="!item.empty && zoom"
       [class.playable-item]="item._links.playSession"
       [class.highlighted]="jawboneOpened && jawboneSelectedIx===i"
       [class.not-highlighted]="jawboneOpened && jawboneSelectedIx!=i"
  >
    <div class="focus-ring" *ngIf="jawboneOpened && jawboneSelectedIx===i"></div>
    <a routerLink="./" (click)="openJawbone(i)" >
      <img [src]="getContentImage(item)" alt="" class="absolute-img">
       <iux-overlay-responsive [program]="item"></iux-overlay-responsive>
    </a>
    <iux-progress *ngIf="item.bright"></iux-progress>
  </div>
</div>
<ng-content></ng-content>
