<iux-settings-section title="AdSuite" >
  <div class="col-sm-8">
    <div role="alert" class="alert alert-warning">To interact with the AdSuite service, you need:
      <ul>
        <li>to be on the Cisco Intranet</li>
        <li>to use http instead of https on your browser (just remove the s in http in the app's address) </li>
      </ul>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"> Enable AdSuite
      </label>
    </div>
    <button class="btn btn-danger" >Reset AdSuite settings</button>
  </div>

</iux-settings-section>
