<div class="overlay">
  <i *ngIf="program" id="playIcon" class="fa fa-play-circle-o" aria-hidden="true"></i>
  <div class="info">
    <div class="info-main" *ngIf="program" >
      <div class="text">
        <div class="title">{{program.content.title}}</div>
        <div class="meta">
          <span class="year">2016</span>
          <span class="maturity-rating"> - </span>
          <span class="duration">1 saison</span>
        </div>
        <div class="synopsis">{{program.content.synopsis.shortSynopsis}}</div>
      </div>
      <div class="last-content">
        <div class="mylist-wrapper">
          <a class="icon fa fa-plus" role="link" href=""></a>
        </div>
      </div>
    </div>
    <div class="info-bottom">
      <div class="icon fa fa-chevron-down"></div>
    </div>
  </div>
</div>
