<!-- <div class="jawBonePane" id="pane-Overview"> -->
<!-- <h3 class="title">{{program.title}}</h3> -->
<h3 class="title">Title</h3>
<div class="playlink">
	<div class="playRing"></div>
</div>
<div class="overview-info">
	<div class="meta">
		<div class="rating">3 stars</div>
		<div class="year">2000</div>
		<div class="maturity-rating">FOR ALL</div>
		<div class="duration">1 h 44 min</div>
	</div>
	<div class="synopsis">TODO :  bind "image url", title", rating", "year", "maturity", "duration", and the "synopsis"</div>

	<div class="listMeta">
		<p>With</p>
	</div>
</div>
<!-- </div> -->