<!-- TODO :map
"rating"
"year"
"maturity rating"
"Actors[]"
-->
<div class="overview-info">
	<div class="meta">
		<div class="rating">
			<div class="starbar jawmetastars" aria-hidden="true">
				<span class="star default icon-star" data-rating="1"></span>
				<span class="star default icon-star" data-rating="2"></span>
				<span class="star default icon-star" data-rating="3"></span>
				<span class="star sb-placeholder icon-star" data-rating="4"></span>
				<span class="star sb-placeholder icon-star" data-rating="5"></span>
			</div>
		</div>
		<div class="year">2000</div>
		<div class="maturity-rating">FOR ALL</div>
		<div class="duration">{{program.duration/3600}}</div>
	</div>
	<div class="synopsis">{{program.synopsis.longSynopsis}}</div>
	<div class="listMeta">
		<p class="metaLabel">With&nbsp;:
			<span class="metaList">
				<span class="metaItem">Actor 1</span>
				,&nbsp;
				<span class="metaItem">Actor 2</span>
				,&nbsp;
				<span class="metaItem">Actor 3</span>
			</span>
		</p>
		<p>Genres&nbsp;:
			<span class="metaList">
				<a href="" class="metaLink">{{program.content.genres[0].name}}</a>
				,&nbsp;
				<!-- <a class="metaLink">{{program.content.genres[1].name}}</a>
				,&nbsp;
				<a class="metaLink">{{program.content.genres[2].name}}</a> -->
			</span>
		</p>	
	</div>
</div>