<!-- TODO :map
"rating"
"year"
"maturity rating"
"Actors[]"
-->
<div class="overview-info">
	<iux-meta [program]="program"></iux-meta>
	<div class="synopsis">{{program.synopsis.longSynopsis}}</div>
	<div class="listMeta">
		<p class="metaLabel">With&nbsp;:
			<span class="metaList">
				<span  class="metaItem">Actor 1</span>
				,&nbsp;
				<span class="metaItem">Actor 2</span>
				,&nbsp;
				<span class="metaItem">Actor 3</span>
			</span>
		</p>
		<p>Genres&nbsp;:
			<span class="metaList" *ngFor="let genre of program.genres ; let lastGenre = last ; let i=index">	
				<span *ngIf="i<3">
					<span *ngIf="i>0" >,&nbsp;</span>
					<a  href="" class="metaLink" >{{genre.name}}</a>			
				</span>
			</span>
		</p>
	</div>
</div>
