<div *ngIf="showLoading" [ngBusy]="{busy:busy,backdrop:false, delay:700}">
</div>
<div
  infinite-scroll
  (scrolled)="onScroll()">
  <div id="lolomoContainer"
       *ngFor="let row of projectedRows let i = index"
       [class.jawboneOpen]="jawboneOpened[i]"
       class="lolomoContainer"

  >
    <iux-lolomo-row
      [portrait]="row.portrait"
      [category]="row"
      (jawboneOpen)="jawboneOpen($event, i)"
      [rowIndex]="i"
    >
      <span class="jawBoneContent">
        <iux-jawbone
          (closeJawbone)="closeJawbone(i)"
          *ngIf="jawboneOpened[i]"
          [program]="jawboneOpened[i]"
        ></iux-jawbone>
      </span>
    </iux-lolomo-row>


  </div>
</div>
