<div class="meta">
	<div class="rating">
		<div class="starbar jawmetastars" aria-hidden="true">
			<span class="star default icon-star" data-rating="1"></span>
			<span class="star default icon-star" data-rating="2"></span>
			<span class="star default icon-star" data-rating="3"></span>
			<span class="star sb-placeholder icon-star" data-rating="4"></span>
			<span class="star sb-placeholder icon-star" data-rating="5"></span>
		</div>
	</div>
	<div class="year">2000</div>
	<div class="maturity-rating">FOR ALL</div>
	<div class="duration">{{program.duration/3600}}</div>
</div>