<nav class="navbar navbar-fixed-top navbar-dark">
  <a class="navbar-brand logo" routerLink="/" href="#"></a>
  <!-- <a class="navbar-brand" routerLink="/" href="#">Infinite UX</a> -->
  <ul class="nav navbar-nav">
    <li class="nav-item  dropdown">
      <a class="nav-link dropdown-toggle active" href="http://example.com" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Browse</a>
      <div class="dropdown-menu" role="menu">
        <!-- <iux-browse ></iux-browse> -->
      </div>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" href="#" routerLink="/presentation" >Docs<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="http://example.com" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Playground</a>
      <div class="dropdown-menu" role="menu">
        <a class="dropdown-item" href="#" routerLink="/peter" >Peter</a>
        <a class="dropdown-item" href="#" routerLink="/dago" >Dago</a>
      </div>
    </li>
  </ul>
  <ul class="nav navbar-nav secondary-nav">
    <li [hidden]="!currentlyLoggedIn" class="form-inline float-xs-right">
     <!-- <iux-search></iux-search> -->
   </li>
   <li class="nav-item dropdown">
    <!-- <iux-login></iux-login> -->
  </li>

</ul>
</nav>
