

<ol class="iux-carousel-indicators" *ngIf="pages.length > 1 && showIndicator">
  <li *ngFor="let page of pages; let i = index;" [id]="i" [class.active]="i === activeId" ></li>
</ol>
<div class="carousel-inner" role="listbox">
  <iux-content-row
    *ngFor="let page of pages; let i = index;"
    class="carousel-item"
    [rowSize]="numberOfItemsPerPage"
    [class.active]="i === activeId"
    [class.prev]="i === leftId"
    [class.next]="i === rightId"
    [content]="page==0?content:{content:[]}"
    [vertical]="vertical"
    [busy]="busy"
    [contentSource]="ctap.getContent(categoryId, page)"
  >
  </iux-content-row>

  <a *ngIf="pages.length > 1" class="left carousel-control" role="button" (click)="cycleToPrev()">
    <span class="icon-prev" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a *ngIf="pages.length > 1" class="right carousel-control" role="button" (click)="cycleToNext()">
    <span class="icon-next" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div>

