:host{
  display: block;
}

.iux-carousel-indicators{
  position: absolute;
  top: 0px;
  right: 0%;
  width: 90%;
  padding-left: 0;
  margin-top: -24px;
  text-align: right;
  list-style: none;
}

.iux-carousel-indicators li {
  display: inline-block;
  width: 12px;
  height: 2px;
  background-color: #4d4d4d;
  margin-left: 1px;
}

.iux-carousel-indicators .active {
  background-color: #aaa;
}

.carousel-control:focus, .carousel-control:hover {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .8;

}

.carousel-control.left {
  left:-5%;
}

.carousel-control.right {
  right:-5%;
}

.carousel-inner{
  overflow: visible;
}

.carousel-item{
  z-index: 0;
}

.carousel-item.active{
  z-index: 2;
}

.carousel-control {
  background-color: grey;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 4.8%;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  opacity: 0.5;
}
