<div class="carousel-inner" role="listbox">
  <div [ngBusy]="{busy: busy,template: ''}"></div>
  <iux-content-row
    *ngFor="let page of pages; let i = index;"
    class="carousel-item"
    [rowSize]="numberOfItemsPerPage"
    [class.active]="i === activeId"
    [class.prev]="i === leftId"
    [class.next]="i === rightId"
    [content]="page==0?content:{content:[]}"
    [vertical]="portrait"
    [contentSource]="ctap.getContent(categoryId, page, undefined, 250)"
  >
  </iux-content-row>



<ol class="iux-carousel-indicators" *ngIf="pages.length > 1 && showIndicator" [class.hidden]="firstSlide">
  <li *ngFor="let page of pages; let i = index;" [id]="i" [class.active]="i === activeId" ></li>
</ol>
<div class="handle handlePrevious" *ngIf="pages.length > 1  && showIndicator"  role="button" (click)="cycleToPrev()">
  <b class="indicator-icon icon-leftCaret" ></b>
</div>
<div class="handle handleNext" *ngIf="pages.length > 1  && showIndicator"  role="button" (click)="cycleToNext()" >
  <b class="indicator-icon icon-rightCaret"></b>
</div>

</div>

