/*We temporary use netflix font for some icons*/
@font-face {
    font-family: nf-icon;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/nf-icon-v1-66.eot);
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/nf-icon-v1-66.eot?#iefix) format('embedded-opentype'), url(https://assets.nflxext.com/ffe/siteui/fonts/nf-icon-v1-66.woff) format('woff'), url(https://assets.nflxext.com/ffe/siteui/fonts/nf-icon-v1-66.ttf) format('truetype'), url(https://assets.nflxext.com/ffe/siteui/fonts/nf-icon-v1-66.svg#nf-icon-v1-66) format('svg');
    font-weight: 400;
    font-style: normal;
}

body{
	background-color: #141414;
	/*background-color: #f00;*/
	line-height: 1.5;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #fff;
	user-select: none;
	font-size: 1vw;
	margin: 0;
}

.splash-loading-progress{
	background-image: url(./assets/site-spinner.png);
	width: 6.942em;
	height: 6.942em;
	background-size: 100%;
	animation: load_spinner .9s linear infinite;
	left: 50%;
	top: 50%;
	position: absolute;
}

@-webkit-keyframes load_spinner_webkit {
	0% {
		-webkit-transform: rotateZ(0)
	}
	50% {
		-webkit-transform: rotateZ(180deg)
	}
	100% {
		-webkit-transform: rotateZ(360deg)
	}
}
@-webkit-keyframes load_spinner {
	0% {
		-webkit-transform: rotateZ(0);
		transform: rotateZ(0)
	}
	50% {
		-webkit-transform: rotateZ(180deg);
		transform: rotateZ(180deg)
	}
	100% {
		-webkit-transform: rotateZ(360deg);
		transform: rotateZ(360deg)
	}
}
@-moz-keyframes load_spinner {
	0% {
		-moz-transform: rotateZ(0);
		transform: rotateZ(0)
	}
	50% {
		-moz-transform: rotateZ(180deg);
		transform: rotateZ(180deg)
	}
	100% {
		-moz-transform: rotateZ(360deg);
		transform: rotateZ(360deg)
	}
}
@-o-keyframes load_spinner {
	0% {
		transform: rotateZ(0)
	}
	50% {
		transform: rotateZ(180deg)
	}
	100% {
		transform: rotateZ(360deg)
	}
}
@keyframes load_spinner {
	0% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		transform: rotateZ(0)
	}
	50% {
		-webkit-transform: rotateZ(180deg);
		-moz-transform: rotateZ(180deg);
		transform: rotateZ(180deg)
	}
	100% {
		-webkit-transform: rotateZ(360deg);
		-moz-transform: rotateZ(360deg);
		transform: rotateZ(360deg)
	}
}

h2{
	display: block;
	font-size: 1.5em;
	-webkit-margin-before: 0.83em;
	-webkit-margin-after: 0.83em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
}

.dropdown-menu{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	top: 71px;
	position: absolute;
	background-color: rgba(0,0,0,.9);
	color: #fff;
	font-size: 13px;
	line-height: 21px;
	border: 1px solid rgba(255,255,255,.15);
	cursor: default;
	border-radius: 0;
	padding: 1.1rem;
}

.dropdown-item:hover {
	background-color: rgba(0,0,0,0) ;
}

section{
	display: block;
}