:host{
	display: block;
  position: relative;
	margin-top: 70px;
	margin-left: 4%;
	margin-right: 4%;
}

iux-content-row-responsive{
	display: block;
	margin: 0 0 4vw;
}

.lolomoContainer{
  position: relative;
  z-index: 0;
  transition: transform .54s cubic-bezier(.5,0,.1,1) 0s;
}

.lolomoContainer.jawboneOpen~.lolomoContainer{
  transform: translate3d(0,40vw,0);
}

.jawBoneContent{
  position: absolute;
  right:-4vw;
  left: -4vw;
}


.galleryHeader{
	display: block;
    padding: 36px 0 72px;
    min-height: 44px;
}

.title{
	display: inline-block;
	margin-right: 20px;
	line-height: 36px;
	font-size: 36px;
  text-transform: capitalize;
}
