<iux-navbar></iux-navbar>
<div class="galleryHeader">
	<div class="title">
		{{fullContentData.title| lowercase}}
	</div>
</div>

<div [ngBusy]="{busy:busy,backdrop:false}">
</div>

<div infinite-scroll
     (scrolled)="onScroll()">

<iux-content-row-responsive
  class="lolomoContainer"
  [class.jawboneOpen]="jawboneOpened[i]"
  *ngFor="let page of pages; let i = index;"
  [fullContent]="projectedContent[i]"
  [portrait]="fullContentData.portrait"
  (visibleItem)="updateVisibleItems($event, i)"
  (offset)="updateOffset($event)"
  (jawboneOpen)="jawboneChanged($event, i)"
  [rowIndex]="i"
>
  <span class="jawBoneContent">
      <iux-jawbone
        (closeJawbone)="closeJawbone(i)"
        *ngIf="jawboneOpened[i]"
        [program]="jawboneOpened[i]"
      ></iux-jawbone>
    </span>
</iux-content-row-responsive>

</div>
