.profiles-gate-container{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	background: #141414;
}

.centered-div{
	-webkit-animation: fadein 450ms; 
	-moz-animation: fadein 450ms;
	-ms-animation: fadein 450ms;
	-o-animation: fadein 450ms;
	animation: fadein 450ms;

	z-index: 100;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	/* opacity: 0; */
}

@keyframes fadein {
	from { 
		opacity: 0;
		transform: scale(1.25);
        -webkit-transform: scale(1.25);
	}
	to   {
		opacity: 1;
		transform: scale(1.0);
        -webkit-transform: scale(1.0);
		 }
}

.label{
	width: 100%;
	color: #fff;
	font-size: 3.5vw;
}

ul {
	padding: 0;
}

.list-profiles{
	max-width: 80%;
}

.choose-profile{
	margin: 2em 0;
}

.profiles-gate-container li {
	display: inline-block;
	vertical-align: top;
	position: relative;
}

.profile{
	width: 10vw;
	max-width: 200px;
	min-width: 84px;
}

li.profile:not(:last-child) {
	margin: 0 2vw 0 0
}

a {
	cursor: pointer;
	text-decoration: none;
}


.avatar-wrapper{
	position: relative;
}
.addProfileIcon, .profile-icon, li.profile {
	width: 10vw;
	max-width: 200px;
	min-width: 84px;
}

.profile-icon{
	background-image:url(./assets/avatar.png);
	height: 10vw;
	max-height: 200px;
	min-height: 84px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	text-decoration: none;
	border: .3em solid rgba(0,0,0,.4);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #333;
}

.profile-name{
	color: grey;
	display: block;
	text-align: center;
	font-size: 1.3vw;
	margin: .8em 0;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
}

.addProfileIcon {
	font-family: nf-icon;
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	transform: translateZ(0);

	font-size: 5vw;
	color: grey;
	text-align: center;
	text-decoration: none;
	height: 10vw;
	max-height: 200px;
	min-height: 84px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.icon-tvuiAdd:before {
	content: '\e716';
}

a:focus,a:hover {
	cursor: pointer;
	outline: 0;
}
.profiles-gate-container li a {
	text-decoration: none;
}

.profiles-gate-container li a:focus .addProfileIcon, .profiles-gate-container li a:hover .addProfileIcon {
	background-color: #e5e5e5;
}

.profiles-gate-container .activeProfile, .profiles-gate-container li a:focus .profile-icon, .profiles-gate-container li a:hover .profile-icon {
	border-color: #e5e5e5;
}

.profiles-gate-container li a:focus .profile-name, .profiles-gate-container li a:hover .profile-name {
	color: #e5e5e5;
}

.profile-button {
	display: block;
	margin: 2em 0 1em;
	font-size: 1.3vw;
}

.profile-button a {
	border: 1px solid grey;
	color: grey;
	text-transform: uppercase;
	padding: .5em 1.5em;
	letter-spacing: 2px;
	cursor: pointer;
	font-size: .9em;
}

.profile-button a:hover{
	color: #fff;
	border: 1px solid #fff;
}