:host {
  display: block;
  margin-left: 20px;
  margin-right: 20px;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0 0 10px;
}
h3 {
  margin: 0 0 5px;
}
p {
  font-size: .9em;
  line-height: 1.5em;
  color: #999;
}

.content-container {
  font-size: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.content-item{
  padding: 3px;
  background: #fff;
  vertical-align: top;
  box-shadow: 0 0 5px #ddd;

}

@media (max-width: 480px) {
  ul.grid-nav li {
    display: block;
    margin: 0 0 5px;
  }
  ul.grid-nav li a {
    display: block;
  }
  ul.rig {
    margin-left: 0;
  }
  ul.rig li {
    width: 100% !important; /* over-ride all li styles */
    margin: 0 0 20px;
  }
}
.absolute-text,h3 {
  font-size: 1.5vw;
}

h2{
  font-size: 2vw;
}

.absolute-text{
  display:none;
}

.relative:hover .absolute-text{
  display: block;
}

.relative{position:relative; width:600px;}
.absolute-text{position:absolute; bottom:0; background:rgba(251,251,251,0.5); padding:10px 20px; width:100%; }
.absolute-img{width:100%; }
