<div class="simsWrapper">
	<div class="ptrack-container">
		<div class="slider">
			<div class="sliderMask">
				<div class="sliderContent">
					<div class="slider-item ">
						<div class="sliderRefocus">
							<div class="ptrack-content">
								<img class="video-artwork" src={{program.content.media[2].url}}>
							</div>
							<iux-meta class="meta" [program]="program"></iux-meta>
							<div class="simsSynopsis">{{program.synopsis.shortSynopsis}}</div>
						</div>
					</div>
					<div class="slider-item ">
						<div class="sliderRefocus">
							<div class="ptrack-content">
								<img class="video-artwork" src={{program.content.media[2].url}}>
							</div>
							<iux-meta class="meta" [program]="program"></iux-meta>
							<div class="simsSynopsis">{{program.synopsis.shortSynopsis}}</div>
						</div>
					</div>
					<div class="slider-item ">
						<div class="sliderRefocus">
							<div class="ptrack-content">
								<img class="video-artwork" src={{program.content.media[2].url}}>
							</div>
							<iux-meta class="meta" [program]="program"></iux-meta>
							<div class="simsSynopsis">{{program.synopsis.shortSynopsis}}</div>
						</div>
					</div>
					<div class="slider-item ">
						<div class="sliderRefocus">
							<div class="ptrack-content">
								<img class="video-artwork" src={{program.content.media[2].url}}>
							</div>
							<iux-meta class="meta" [program]="program"></iux-meta>
							<div class="simsSynopsis">{{program.synopsis.shortSynopsis}}</div>
						</div>
					</div>
					<div class="slider-item ">
						<div class="sliderRefocus">
							<div class="ptrack-content">
								<img class="video-artwork" src={{program.content.media[2].url}}>
							</div>
							<iux-meta class="meta" [program]="program"></iux-meta>
							<div class="simsSynopsis">{{program.synopsis.shortSynopsis}}</div>
						</div>
					</div>
					<div class="slider-item ">
						<div class="sliderRefocus">
							<div class="ptrack-content">
								<img class="video-artwork" src={{program.content.media[2].url}}>
							</div>
							<iux-meta class="meta" [program]="program"></iux-meta>
							<div class="simsSynopsis">{{program.synopsis.shortSynopsis}}</div>
						</div>
					</div>
				</div>
			</div>
			<div class="handle handlePrev active">
				<b class="indicator-icon icon-leftCaret"></b>
			</div>
			<div class="handle handleNext active">
				<b class="indicator-icon icon-rightCaret"></b>
			</div>
		</div>
	</div>
</div>